In [27]:
import pandas as pd
import datetime as dt
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
days = 720
end = dt.datetime.now()
start = end - dt.timedelta(days=days)
start, end

(datetime.datetime(2021, 7, 26, 15, 8, 12, 348742),
 datetime.datetime(2023, 7, 16, 15, 8, 12, 348742))

In [44]:
stocklist = ['TSLA','AMD','NVDA','RIVN','AMZN','BAC','AAPL','RIOT','INTC']
stocks = [yf.Ticker(i) for i in stocklist]
stocks

[yfinance.Ticker object <TSLA>,
 yfinance.Ticker object <AMD>,
 yfinance.Ticker object <NVDA>,
 yfinance.Ticker object <RIVN>,
 yfinance.Ticker object <AMZN>,
 yfinance.Ticker object <BAC>,
 yfinance.Ticker object <AAPL>,
 yfinance.Ticker object <RIOT>,
 yfinance.Ticker object <INTC>]

In [45]:
tsla = yf.Ticker('TSLA')
tsla

yfinance.Ticker object <TSLA>

In [46]:
data = tsla.history()
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-15 00:00:00-04:00,248.399994,258.950012,247.289993,255.899994,160171200,0.0,0.0
2023-06-16 00:00:00-04:00,258.920013,263.600006,257.209991,260.540009,167563700,0.0,0.0
2023-06-20 00:00:00-04:00,261.500000,274.750000,261.119995,274.450012,165611200,0.0,0.0
2023-06-21 00:00:00-04:00,275.130005,276.989990,257.779999,259.459991,211797100,0.0,0.0
2023-06-22 00:00:00-04:00,250.770004,265.000000,248.250000,264.609985,166875900,0.0,0.0

In [47]:
dataa = tsla.history(start=start,end=end)
dataa.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-26 00:00:00-04:00,216.990005,222.733337,215.703339,219.206665,76009800,0.0,0.0
2021-07-27 00:00:00-04:00,221.133331,222.166672,209.080002,214.926666,98439900,0.0,0.0
2021-07-28 00:00:00-04:00,215.666672,218.323334,213.133331,215.660004,48019800,0.0,0.0
2021-07-29 00:00:00-04:00,216.596664,227.896667,216.266663,225.783340,91183800,0.0,0.0
2021-07-30 00:00:00-04:00,223.919998,232.509995,223.000000,229.066666,88969200,0.0,0.0

In [50]:
stocks_hist = stocks[4].history(interval='1h',start=start,end=end)
print(stocks_hist.head())
stocks[3]

                                 Open        High         Low       Close  \
Datetime
2021-07-26 14:30:00-04:00  184.717743  184.970001  184.201996  184.357498
2021-07-26 15:30:00-04:00  184.356491  185.250000  184.356491  185.000000
2021-07-27 09:30:00-04:00  184.925003  184.925003  181.300003  182.225006
2021-07-27 10:30:00-04:00  182.178497  182.207001  180.247498  180.626495
2021-07-27 11:30:00-04:00  180.578003  180.631012  179.410995  180.216660

                           Volume  Dividends  Stock Splits
Datetime
2021-07-26 14:30:00-04:00       0        0.0           0.0
2021-07-26 15:30:00-04:00  411354        0.0           0.0
2021-07-27 09:30:00-04:00  983335        0.0           0.0
2021-07-27 10:30:00-04:00  596410        0.0           0.0
2021-07-27 11:30:00-04:00  640372        0.0           0.0

yfinance.Ticker object <RIVN>

In [52]:
dwdata = yf.download('TSLA',period ='1mo')
dwdata.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-15,248.399994,258.950012,247.289993,255.899994,255.899994,160171200
2023-06-16,258.920013,263.600006,257.209991,260.540009,260.540009,167563700
2023-06-20,261.500000,274.750000,261.119995,274.450012,274.450012,165611200
2023-06-21,275.130005,276.989990,257.779999,259.459991,259.459991,211797100
2023-06-22,250.770004,265.000000,248.250000,264.609985,264.609985,166875900

In [54]:
tsla.info

{'address1': '1 Tesla Road',
 'city': 'Austin',
 'state': 'TX',
 'zip': '78725',
 'country': 'United States',
 'phone': '512 516 8177',
 'website': 'https://www.tesla.com',
 'industry': 'Auto Manufacturers',
 'industryDisp': 'Auto Manufacturers',
 'sector': 'Consumer Cyclical',
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. It operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners; and provision of service and repairs to its energy product customers, including under warranty, as well as various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'fullTimeEmployees': 127855,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Elon R. Musk',
   'age': 50,
   'title': 'Technoking of Tesla, CEO & Director',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 0,
   'exercisedValue': 0,
   'unexercisedValue': 27819718656},
  {'maxAge': 1,
   'name': 'Mr. Zachary John Planell Kirkhorn',
   'age': 36,
   'title': 'Master of Coin & CFO',
   'yearBorn': 1986,
   'fiscalYear': 2022,
   'totalPay': 303000,
   'exercisedValue': 1258505,
   'unexercisedValue': 205700880},
  {'maxAge': 1,
   'name': 'Mr. Andrew D. Baglino',
   'age': 41,
   'title': 'Sr. VP of Powertrain & Energy Engineering',
   'yearBorn': 1981,
   'fiscalYear': 2022,
   'totalPay': 303000,
   'exercisedValue': 33866368,
   'unexercisedValue': 57355632},
  {'maxAge': 1,
   'name': 'Mr. Vaibhav  Taneja',
   'age': 44,
   'title': 'Corp. Controller & Chief Accounting Officer',
   'yearBorn': 1978,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Martin  Viecha',
   'title': 'Sr. Director for Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Alan  Prescott',
   'age': 43,
   'title': 'VP of Legal',
   'yearBorn': 1979,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dave  Arnold',
   'title': 'Sr. Director of Global Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brian  Scelfo',
   'title': 'Sr. Director of Corp. Devel.',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey B. Straubel',
   'age': 46,
   'title': 'Independent Director',
   'yearBorn': 1976,
   'fiscalYear': 2018,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Franz  von Holzhausen',
   'title': 'Chief Designer',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 8,
 'boardRisk': 10,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 9,
 'overallRisk': 9,
 'governanceEpochDate': 1688169600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 277.9,
 'open': 277.01,
 'dayLow': 276.31,
 'dayHigh': 285.3,
 'regularMarketPreviousClose': 277.9,
 'regularMarketOpen': 277.01,
 'regularMarketDayLow': 276.31,
 'regularMarketDayHigh': 285.3,
 'payoutRatio': 0.0,
 'beta': 2.081967,
 'trailingPE': 82.03499,
 'forwardPE': 58.377594,
 'volume': 119641862,
 'regularMarketVolume': 119641862,
 'averageVolume': 136790625,
 'averageVolume10days': 113694100,
 'averageDailyVolume10Day': 113694100,
 'bid': 281.75,
 'ask': 281.4,
 'bidSize': 1000,
 'askSize': 4000,
 'marketCap': 891833876480,
 'fiftyTwoWeekLow': 101.81,
 'fiftyTwoWeekHigh': 314.66666,
 'priceToSalesTrailing12Months': 10.365943,
 'fiftyDayAverage': 223.9456,
 'twoHundredDayAverage': 193.65015,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 876188139520,
 'profitMargins': 0.13658,
 'floatShares': 2709133801,
 'sharesOutstanding': 3169499904,
 'sharesShort': 95631311,
 'sharesShortPriorMonth': 91194312,
 'sharesShortPreviousMonthDate': 1685491200,
 'dateShortInterest': 1688083200,
 'sharesPercentSharesOut': 0.030199999,
 'heldPercentInsiders': 0.1306,
 'heldPercentInstitutions': 0.44891,
 'shortRatio': 0.59,
 'shortPercentOfFloat': 0.0347,
 'impliedSharesOutstanding': 0,
 'bookValue': 15.164,
 'priceToBook': 18.55579,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': -0.243,
 'netIncomeToCommon': 11788000256,
 'trailingEps': 3.43,
 'forwardEps': 4.82,
 'pegRatio': 7.32,
 'lastSplitFactor': '3:1',
 'lastSplitDate': 1661385600,
 'enterpriseToRevenue': 10.184,
 'enterpriseToEbitda': 52.573,
 '52WeekChange': 16.975224,
 'SandP52WeekChange': 17.608881,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'underlyingSymbol': 'TSLA',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'firstTradeDateEpochUtc': 1277818200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'ec367bc4-f92c-397c-ac81-bf7b43cffaf7',
 'messageBoardId': 'finmb_27444752',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 281.38,
 'targetHighPrice': 335.0,
 'targetLowPrice': 24.33,
 'targetMeanPrice': 213.9,
 'targetMedianPrice': 220.0,
 'recommendationMean': 2.7,
 'recommendationKey': 'hold',
 'numberOfAnalystOpinions': 35,
 'totalCash': 22402000896,
 'totalCashPerShare': 7.068,
 'ebitda': 16666000384,
 'totalDebt': 5574000128,
 'quickRatio': 0.932,
 'currentRatio': 1.567,
 'totalRevenue': 86034997248,
 'debtToEquity': 11.321,
 'revenuePerShare': 27.35,
 'returnOnAssets': 0.10428,
 'returnOnEquity': 0.27991,
 'grossProfits': 20853000000,
 'freeCashflow': 2448250112,
 'operatingCashflow': 13242000384,
 'earningsGrowth': -0.232,
 'revenueGrowth': 0.244,
 'grossMargins': 0.23135,
 'ebitdaMargins': 0.19371,
 'operatingMargins': 0.14823,
 'financialCurrency': 'USD',
 'trailingPegRatio': 3.111}

In [56]:
pnl = tsla.financials
pnl

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-14080000.0,2970000.0,0.0,-40230000.0
Tax Rate For Calcs,0.08,0.11,0.25,0.27
Normalized EBITDA,17833000000.0,9598000000.0,4224000000.0,2323000000.0
Total Unusual Items,-176000000.0,27000000.0,0.0,-149000000.0
Total Unusual Items Excluding Goodwill,-176000000.0,27000000.0,0.0,-149000000.0
Net Income From Continuing Operation Net Minority Interest,12583000000.0,5519000000.0,690000000.0,-862000000.0
Reconciled Depreciation,3747000000.0,2911000000.0,2322000000.0,2154000000.0
Reconciled Cost Of Revenue,60609000000.0,40217000000.0,24906000000.0,20509000000.0
EBIT,13910000000.0,6714000000.0,1902000000.0,20000000.0
Net Interest Income,106000000.0,-315000000.0,-718000000.0,-641000000.0
Interest Expense,191000000.0,371000000.0,748000000.0,685000000.0
Interest Income,297000000.0,56000000.0,30000000.0,44000000.0
Normalized Income,12744920000.0,5494970000.0,690000000.0,-753230000.0
Net Income From Continuing And Discontinued Operation,12583000000.0,5519000000.0,690000000.0,-862000000.0
Total Expenses,67630000000.0,47327000000.0,29542000000.0,24498000000.0
Total Operating Income As Reported,13656000000.0,-6523000000.0,1994000000.0,-69000000.0
Diluted Average Shares,3475000000.0,3387000000.0,3249000000.0,2661000000.0
Basic Average Shares,3130000000.0,2958000000.0,2799000000.0,2661000000.0
Diluted EPS,3.62,1.633333,0.213333,-0.326667
Basic EPS,4.02,1.866667,0.246667,-0.326667
Diluted NI Availto Com Stockholders,12584000000.0,5519000000.0,690000000.0,-862000000.0
Average Dilution Earnings,1000000.0,NaN,NaN,NaN
Net Income Common Stockholders,12583000000.0,5519000000.0,690000000.0,-862000000.0
Net Income,12583000000.0,5519000000.0,690000000.0,-862000000.0
Minority Interests,-4000000.0,-125000000.0,-172000000.0,-87000000.0
Net Income Including Noncontrolling Interests,12587000000.0,5644000000.0,862000000.0,-775000000.0
Net Income Continuous Operations,12587000000.0,5644000000.0,862000000.0,-775000000.0
Tax Provision,1132000000.0,699000000.0,292000000.0,110000000.0
Pretax Income,13719000000.0,6343000000.0,1154000000.0,-665000000.0
Other Income Expense,-219000000.0,162000000.0,-122000000.0,-104000000.0
Other Non Operating Income Expenses,-43000000.0,135000000.0,-122000000.0,45000000.0
Special Income Charges,-176000000.0,27000000.0,0.0,-149000000.0
Restructuring And Mergern Acquisition,176000000.0,-27000000.0,0.0,149000000.0
Net Non Operating Interest Income Expense,106000000.0,-315000000.0,-718000000.0,-641000000.0
Interest Expense Non Operating,191000000.0,371000000.0,748000000.0,685000000.0
Interest Income Non Operating,297000000.0,56000000.0,30000000.0,44000000.0
Operating Income,13832000000.0,6496000000.0,1994000000.0,80000000.0
Operating Expense,7021000000.0,7110000000.0,4636000000.0,3989000000.0
Research And Development,3075000000.0,2593000000.0,1491000000.0,1343000000.0
Selling General And Administration,3946000000.0,4517000000.0,3145000000.0,2646000000.0
Gross Profit,20853000000.0,13606000000.0,6630000000.0,4069000000.0
Cost Of Revenue,60609000000.0,40217000000.0,24906000000.0,20509000000.0
Total Revenue,81462000000.0,53823000000.0,31536000000.0,24578000000.0
Operating Revenue,81462000000.0,53823000000.0,31536000000.0,24578000000.0

In [57]:
df = []
for ticker in stocks:
    pnl = ticker.financials